*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    
}
.b{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}
.b img{
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.b img.port{
    mix-blend-mode: multiply;
    filter: contrast(1.);
}